@import '../../styles/colors';

.button {
  background: linear-gradient(to top right, $malibu, $cornflower-blue);
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0 5px 20px -2px rgba(121, 211, 255, 0.25);
  color: $zircon;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 2.5rem;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: 0 5px 20px -2px rgba(121, 211, 255, 0.75);
}
