@import '../../styles/colors';

.container {
  padding: 4rem 1rem;
  text-align: center;
}

.content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 340px));
}

.text {
  color: $gray-chateau;
}
